/* Start of Selection */
.LanguageContainer{
    position:absolute;
    top:0px;
    right:150px;
}
.Language{
    width:50vw;
    height:100vh;
    display:inline-block;
    /* overflow-y: scroll; */
    vertical-align: top;
    background-color: white;
    border-left: 2px solid black;
}
@media screen and (max-width: 768px) {
    .Language {
        display: none;
    }
}
/* .ExpandLanguage{
    height: 25px;
    width:150px;
    font-size: 17px;
    writing-mode: horizontal-tb;
    word-wrap: break-word;
    display: inline-block;
    background-color: white;
    text-align: center;
    border-right:2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
} */
/* End of Selection */