.Main {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Main {
        width: 100%;
    }
}