.Main {
    width: calc(100% - 35px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left:35px;
    padding-top:10px;
    overflow: scroll;
    scrollbar-width: thin;
}
.usageimage {
    width: 700px;
    height: 400px;
    margin: auto;
    display: block;
    
}
@media screen and (max-width: 768px) {
    .Main {
        width: 100%;
    }
}