.Main {
    width: calc(70% - 10px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left:10px;
    overflow: scroll;
}

@media screen and (max-width: 768px) {
    .Main {
        width: 100%;
    }
}