.AskAutoPasteText {
    font-size: 20px;
    margin: 0px;
}

.ImageSelectionPane {
    background-color: gray;
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UploadedImagePreviewTitle{
    font-size: 32px;
    margin: 0px;
}
.UploadedImagePreview{
    padding-top: 20px;
}
.RefleshTimeBar{
    margin-bottom: 20px;
}
.DropText{
    font-size: 30px;
    color:#ddd
}
.ImagePreviewContainer{
    text-align: center;
    display:block;
}
.PreviewImage{
    object-fit: cover;
    width:1000px;
    height:500px;
}
.LoadingText{
    font-size: 30px;
}